
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: poppins, sans-serif;
    scroll-behavior: smooth;
}

.nav-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0 10px 0;
    top: 0;
    background-color: gray;
    width: 100%;
    z-index: 100;
    position: fixed;
}

.img-logo{
    width: 100px;
}

.nav-items{
    display: flex;
}

.nav-list{
    list-style: none;
    margin: 20px;
}

.nav-list a{
    text-decoration: none;
    color: #fff;
}

.cart-icon{
    position: relative;
    cursor: pointer;
    font-size: 20px;
}

.cart-count{
    position: absolute;
    top: -17px;
    left: 5px;
    font-size: 15px;
    background-color: rgb(39, 98, 150);
    padding: 1px 5px 1px 5px;
    color: #fff;
    border-radius: 50%;
}

.hamburger-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 25px 10px 25px;
    cursor: pointer;
    background-color: rgb(39, 98, 150);
    border-radius: 5px;
}

.hamburger{
    color: #fff;
}